<a href="https://colab.research.google.com/github/lindy-8/Alphabet_Risk/blob/main/Completed_GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME"])
# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
display(numerical_variables_df.head())

# Combine both data frames into one Data Frame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis = 1
)

# Review the new data frame all together
display(encoded_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[0:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = ["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_scaled[0])

# Review the number of features
number_input_features

116

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  100

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

100

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  50

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

50

In [20]:
# Create the Sequential model instance
nn = Sequential()

In [21]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim= number_input_features, activation = 'relu'))

In [22]:
# Add the second hidden layer
nn.add(Dense(units= hidden_nodes_layer2, activation = 'relu'))

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = 'linear'))

In [24]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               11700

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 16,801
Trainable params: 16,801
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [25]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [26]:
# Fit the model using 50 epochs and the training data

fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.0621 - accuracy: 0.7000
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0670 - accuracy: 0.6835
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9522 - accuracy: 0.7182
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8663 - accuracy: 0.7176
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8611 - accuracy: 0.7190
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8223 - accuracy: 0.7184
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8000 - accuracy: 0.7262
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7874 - accuracy: 0.7236
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7539 - accuracy: 0.7284
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7485 - accuracy: 0.7247
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7738 - accuracy: 0.7169
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7258 - accuracy: 0.7268
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7213 - accuracy: 0.7309
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7306 - accuracy: 0.7302
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7444 - accuracy: 0.7278
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7797 - accuracy: 0.7249
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7563 - accuracy: 0.7278
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7635 - accuracy: 0.7259
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7604 - accuracy: 0.7306
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7385 - accuracy: 0.7303
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7346 - accuracy: 0.7149
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6956 - accuracy: 0.7204
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6748 - accuracy: 0.7281
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6711 - accuracy: 0.7308
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6677 - accuracy: 0.7318
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6731 - accuracy: 0.7295
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6756 - accuracy: 0.7322
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6812 - accuracy: 0.7287
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6796 - accuracy: 0.7297
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6619 - accuracy: 0.7310
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6541 - accuracy: 0.7332
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6414 - accuracy: 0.7341
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6471 - accuracy: 0.7280
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6713 - accuracy: 0.7240
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6904 - accuracy: 0.7291
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6838 - accuracy: 0.7333
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6851 - accuracy: 0.7325
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7018 - accuracy: 0.7318
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7074 - accuracy: 0.7286
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6976 - accuracy: 0.7285
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6798 - accuracy: 0.7331
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6702 - accuracy: 0.7320
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6616 - accuracy: 0.7230
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6438 - accuracy: 0.7281
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6418 - accuracy: 0.7314
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6313 - accuracy: 0.7340
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6270 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6345 - accuracy: 0.7343
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6322 - accuracy: 0.7350
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6562 - accuracy: 0.7302

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [27]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6301 - accuracy: 0.7130 - 530ms/epoch - 2ms/step
Loss: 0.6300849914550781, Accuracy: 0.7130029201507568

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [28]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 : Add a Layer

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [32]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

29

In [33]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [34]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim= number_input_features, activation = 'relu'))

# Second hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer2_A1,activation = 'relu'))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = 'linear'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [36]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.1204 - accuracy: 0.6879
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8891 - accuracy: 0.7044
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7499 - accuracy: 0.7254
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7646 - accuracy: 0.7230
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7515 - accuracy: 0.7161
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7371 - accuracy: 0.7180
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7245 - accuracy: 0.7217
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7348 - accuracy: 0.7260
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7218 - accuracy: 0.7217
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7215 - accuracy: 0.7283
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7255 - accuracy: 0.7279
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7403 - accuracy: 0.7297
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7327 - accuracy: 0.7289
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6916 - accuracy: 0.7299
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6967 - accuracy: 0.7307
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6980 - accuracy: 0.7274
Epoch 17/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6793 - accuracy: 0.7294
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6585 - accuracy: 0.7272
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6467 - accuracy: 0.7326
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6486 - accuracy: 0.7313
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6200 - accuracy: 0.7322
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6345 - accuracy: 0.7305
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6269 - accuracy: 0.7291
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6273 - accuracy: 0.7338
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6341 - accuracy: 0.7313
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6066 - accuracy: 0.7333
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6079 - accuracy: 0.7299
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6364 - accuracy: 0.7276
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6285 - accuracy: 0.7352
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6229 - accuracy: 0.7348
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6040 - accuracy: 0.7319
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5975 - accuracy: 0.7345
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6127 - accuracy: 0.7290
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6156 - accuracy: 0.7252
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6121 - accuracy: 0.7290
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6002 - accuracy: 0.7335
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6026 - accuracy: 0.7342
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6036 - accuracy: 0.7356
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5957 - accuracy: 0.7366
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5973 - accuracy: 0.7355
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.7334
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.7353
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6178 - accuracy: 0.7327
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6210 - accuracy: 0.7324
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6308 - accuracy: 0.7338
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6346 - accuracy: 0.7306
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6011 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5956 - accuracy: 0.7357
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6005 - accuracy: 0.7360
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6020 - accuracy: 0.7357

#### Alternative Model 2 : Added Layer and use "Sigmoid"

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [40]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

29

In [41]:
# Create the Sequential model instance
nn_A2= Sequential()

In [42]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim= number_input_features, activation = 'relu'))

# Second hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer2_A2,activation = 'relu'))

# Output layer
nn_A2.add(Dense(units = number_output_neurons_A2, activation = 'sigmoid'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 58)                6786

 dense_7 (Dense)             (None, 29)                1711

 dense_8 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [44]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5783 - accuracy: 0.7154
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7306
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7312
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7338
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7349
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7345
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7374
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7373
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7393
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7379
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7387
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7385
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7392
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7386
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7403
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7396
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7397
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7404
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7414
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7399
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7420
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7404
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7414
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7417
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7416
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7417
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7425
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7410
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7428
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7414
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7420
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7421
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7418
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7421
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7417
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7428
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7418
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7418
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7430
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7419
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7412
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7427
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7418
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7425
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7422
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7423
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7425
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7429
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7423
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7422
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7424
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7420
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7430
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7431
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7432
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7421

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [45]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6301 - accuracy: 0.7130 - 362ms/epoch - 1ms/step
Loss: 0.6300849914550781, Accuracy: 0.7130029201507568

In [46]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6058 - accuracy: 0.7287 - 489ms/epoch - 2ms/step
Loss: 0.6058306097984314, Accuracy: 0.7287463545799255

In [48]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5604 - accuracy: 0.7305 - 353ms/epoch - 1ms/step
Loss: 0.5604159235954285, Accuracy: 0.7304956316947937

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# Set the file path for the first alternative model
file_path = 'AlphabetSoupA1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [50]:
# Set the file path for the second alternative model
file_path = 'AlphabetSoupA2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)

## Conclusions

We scaled the data and translated everything into numerical values. Running the first network we obtained an accuracy of 72.39% by adding one layer and giving it about half of the neurons. This led to a loss of 59.42: thus leading me to make the second alternative model reach an accuracy of 72.88% and loss of 55.76. This wasn't a drastic change, but it was an improvement through optimizing the number of neurons and changing the output layer to sigmoid. I noticed in the changes that adding a layer and optimizing the neurons benefited the outcome positively. Had there been more data and parameters the network could have been tailored and tuned more appropriately to predict company's success or not. Another method of getting more precise outcomes is if there were assigned weights to the exsisting parameters, and other paraments if they were introduced.